
@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-Regular.ttf");
}

:root {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter";
}

body {
    position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
    height: 100vh;
    width: 100%;
}

.container {
    background-color: hsl(0, 0%, 12%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 90%;
    border-radius: 12px;
}


img, figure {
    display: flex;
    justify-self: center;
}

figure {
    margin-bottom: 0;
}

h1, h2 {
    display: grid;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    
}

h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 0.75rem;
    color: hsl(75, 94%, 57%);
}

img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.info {
    margin-bottom: 0.5rem;
}

section p, section a {
    display: grid;
    justify-content: center;
    color: hsl(0, 0%, 100%);
}

a {
    background-color: hsl(0, 0%, 20%);
    margin-bottom: 1rem;
    padding: 0.75rem;
    width: 80%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}


@media screen and (min-width: 1440px) {
    .container{
        width: 25%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}